body{
  min-width: 1000px;
}

h2{
  border: 2px dashed #d2e0e3;
  color: #4b7b91;
  background-color: #dbebf5;
  padding: 10px 0px 10px 20px;
  margin: 20px 0px;
  font-size: 20px;
}

.container{
  width: 1000px;
  margin: 0 auto;
}

/* Form Elements */
.element{
  position: relative;
  height: 40px;
  border: 2px dashed #d2e0e3;
  padding: 10px 0px;
  margin-bottom: 20px;
}

/* Inputs */
input, select{
  position: absolute;
  right: 50px;
  width: 425px;
  border-radius: 5px;
  border: 2px solid #d7d7d7;
  background-color: #eeeeee;
  padding: 9px;
  font-size: 15px;
}

#birthdate{
  padding: 7px 9px;
}

#data_availability{
  appearance: none;
  width: 447px;
}

input:invalid{
  border-color: #ff9e81;
  background-color: #ffbfaa;
}

/* Labels */
label{
  position: absolute;
  right: 520px;
  top: 20px;
  font-size: 19px;
}

/* Save Button */
.button{
  height: 44px;
}

#save{
  float: right;
  border: 2px solid #629f61;
  color: #fff;
  background-color: #5bb95c;
  padding: 8px;
  font-size: 20px;
}

/* Final Request */
#label_request{
  position: absolute;
  right: 870px;
  padding: 6px 0px;
  font-size: 20px;
}

#final_request{
  position: absolute;
  right: 50px;
  width: 775px;
  height: 300px;
  max-height: 300px;
  border-radius: 10px;
  border: 4px solid #d7d7d7;
  background-color: #eeeeee;
  padding: 10px;
}

#container_request{
  display: none;
  height: 327px;
}
